<!DOCTYPE html>
<html>
<head>
  <title>Shareconomy</title>
  <%= stylesheet_link_tag    "shareconomy/application", media: "all" %>
  <%= javascript_include_tag "shareconomy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
